body {
        background-color: rgb(8, 143, 143);
    }

    table, th, td {
        border: 1px solid white;
        border-collapse: collapse;
    }

    th,
    td {
        background-color: rgb(0, 163, 108);
    }

    h1 {
        text-align: center;
        border-left-style: solid;
        border-right-style: solid;
        border-bottom-style: solid;
        border-top-style: solid;
        border-color: ;
    }

#border{
        text-align: center;
        border-left-style: solid;
        border-right-style: solid;
        border-bottom-style: solid;
        border-top-style: solid;
        border-color:red ;
    }

    #image {
        width: 500px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        border: 5px solid gray;
    }

    #name {}

    #welcome {

        width: 300px;
        position: relative;
        top: -300px;
    }

    #about {
        width: 320px;
        position: relative;
        top: -500px;
        left: 980px;
    }
    
    #clubs{
        width:90px;
        text-align:center;
        position:relative;
        top:-150px;
    }
    
    #awards{
        width:150px;
        text-align:center;
        position:relative;
        top:-150px;
        left:-900
    }

    #Info {
        width: 150px;
        position: relative;
        top: -450px;
        left: 570px;
        text-align: center;
    }

    #departments{
        width:150px;
        text-align:center;
        position:relative;
        top:-1035px;
        left:1000px;
    }

    #table {
        width: 414px;
        text-align: center;
        position: relative;
        top: -400px;
        left: 445px;
    }
    #schedule{
        width: 414px;
        text-align: center;
        position: relative;
        top: -400px;
        left: 445px;
    }
#bodyy{
        background-image:url("https://www.belmont.k12.ma.us/bps/portals/1/images/home/gallery/009.jpg")
        background-repeat:no-repeat
        background-size:cover
    }
    #musiq{
        text-align:center;
    }
    h1{
        text-align:center;
    }
